.quest_card__top {
  .action-over {
    position: absolute;
    z-index: 101;
    top: 10px;
    right: 10px;
    cursor: pointer;
    height: 20px;
  }
}

.ant-popover {
  .ant-popover-inner-content {
    padding: 10px 0px;
  }

}