@import "../../../base";


.edit-page-container {
  padding-bottom: 95px;
  .edit-main-container {
    width: 100%;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 50px 100px;



  }


  .button-edit {
    margin: 0 auto;
    margin-top: 65px;
  }
}

